h1 {
    text-align: center;
}

.red {
    width: 300px;
    margin: 30px auto;
    color: white;
    background-color: red;
    border-radius: 20px;
    padding: 20px;
}

ul#menu {
    display: flex;
}

li {
    list-style:none;
    background-color: rgb(147, 92, 165);
    padding:15px;
    margin-right:10px;
    color:white;
}
